*.o
*.d
*~
bin

## Generated HTML Docs
######################
/doc/*.html

## Apps Local Settings & Temp Files
###################################

# Chrome's debug logs for local HTML pages:
debug.log

############################
## COMMON IGNORE PATTERNS ##
############################

## Linux
########
*~
.directory
.fuse_hidden*
.nfs*
.Trash-*

## macOS
########
*.DS_Store
._*
.AppleDouble
.LSOverride
Icon

## Windows
##########
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
.BIN/

